body {
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    color: #FFFFFF;
    background-color: #1E90FF;
}

button {
    color: inherit;
    background-color: transparent;
    padding: 10px 20px;
    border: 2px solid;
    text-transform: uppercase;
}